body {
  --text-color: #222;
  --bkg-color: #fff;
  --animation-dark-mode: background-color 500ms ease-in-out 0s;
}

body.dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
}

@media (prefers-color-scheme: dark) {
  body {
    --text-color: #eee;
    --bkg-color: #121212;
  }

  body.light-theme {
    --text-color: #222;
    --bkg-color: #fff;
  }
}

body {
  background-color: var(--bkg-color);
  color: var(--text-color);
  transition: var(--animation-dark-mode);
  transition: var(--animation-dark-mode);
  /* transition: color 2s linear 0s; */
}

.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}

.search {
  display: grid;
  grid-template-columns: minmax(60px, 10%) auto 10%;
  background-color: var(--bkg-color);
  column-gap: 10px;
  position: sticky;
  top: 0;
  transition: var(--animation-dark-mode);
}

.serach__random {
  justify-self: start;
}

.darkmode-btn {
  justify-self: end;
}

.search__history-group {
  list-style: none;
  display: flex;
  grid-column: 2;
  margin: 0;
  margin-top: 0.5em;
  padding-left: 0;
}

.search__history-item {
  margin-left: 10px;
  padding: 0.3em;
  color: white;
  background-color: orange;
  border-radius: 10%;
}

.cardlist {
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  list-style: none;
}

.card__img {
  width: 100%;
}

@media screen and (min-width: 560px) {
  .cardlist {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 860px) {
  .cardlist {
    grid-template-columns: repeat(3, 1fr);
  }
}

.content {
  grid-column: 1;
  grid-row: 2;
}

.loading {
  position: fixed;
  top: 30%;
  bottom: 30%;
  left: 30%;
  right: 30%;
  margin: 0;
  opacity: 0.5;
  grid-column: 1;
  grid-row: 2;
  width: 40%;
}

.loading--hidden {
  display: none;
}

.loading__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
